
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>so many cooks! sifting comments to optimize your favorite recipe</title>

    <!-- Bootstrap Core CSS -->
    <!-- <link rel="stylesheet" href="../static/vendor/bootstrap/css/bootstrap.css" type="text/css"> -->
    <link rel="stylesheet" href="../static/vendor/bootstrap/css/bootstrap.min.css" type="text/css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="../static/css/new-age.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/new-age.css" type="text/css">     

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="../static/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="../static/vendor/device-mockups/device-mockups.min.css">


</head>


<body id="page-top">

    <nav id="mainNav" class="bg-about navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="color: #fdcc52; text-transform: uppercase;">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#search" class="page-scroll" style="text-transform: uppercase;">Find a recipe</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-center">
                    <!-- <li><a href="/#search" class="page-scroll" >Find a recipe</a></li> -->
                    <li><a href="/#comment-check" class="page-scroll">Check your comment</a></li>
                    <li><a href="recipe_index" class="recipe_index" >Browse Recipes</a></li>
                    <li><a href="about" class="menu" >About</a></li>
                    <li><a href="#contact" class="menu">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

<!--     <header>    </header> -->

    <section id="recipes-table" class="bg-yellow" style="text-align: center;">
        <div>
            <table class='table' style="text-align: center; font-weight:bold;">
                <tr>
                    <strong><th style="text-align: center; font-weight:bold; font-size:45;">Recipe Name</th></strong>
                    <strong><th style="text-align: center; font-weight:bold; font-size:45;">recipe link</th></strong>
                </tr>

                {% for recipe in recipes %}
                    <tr>
                        <td><a href="/search?recipe_choice={{recipe['recipe_title']}}" style="display:block; color:black">{{recipe['recipe_title']}}</a></td>
                        <td><a href={{recipe['url']}} style="display:block; color:black" >{{recipe['url']}}</a></td>
                    </tr> 
                {% endfor %} 
            </table>
        </div>
    </section>


    <footer id="contact" class="contact text-center">
        <div class="container">
        <span style="font-size: 24px; color:#fdcc52; "> contact: 
        <a style="padding-left:25px;"  href="https://www.linkedin.com/in/alisonkspencer"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>

        <a style="padding-left:25px;" href="https://github.com/katelie"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>

        <a style="padding-left:25px;" href=mailto:alison@somanycooks.xyz><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></a>
<!--         </span>
        <span style="font-size: 24px; color:#fdcc52; padding-left:200px;"> 
        <i class="fa fa-copyright" aria-hidden="true"></i>  Alison Spencer, 2016
        </span>
 -->            
        </div>
    </footer>



        <!-- jQuery -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="../static/js/new-age.min.js"></script>


</body>

</html>
